/*===================================================
    3.LAYOUT: Mobile first layout
=====================================================*/
body{
    min-height: 100vh;
    display: grid;
    gap: 1rem;
    grid-auto-columns: 1fr;
    grid-template-columns: 1rem 1fr 1rem ;
    grid-template-areas:
        "header     header              header"
        "......     artist-cover        ......."
        "......     artist-songs        ......."
        "......     aside               ......."
        "footer     footer              footer";
}
header{
    grid-area: header;
}
.artist-cover{
    grid-area: artist-cover;
    min-height: 50vh;
}
.artist-songs{
    grid-area: artist-songs;
}
aside{
    grid-area: aside;
}
footer{
    grid-area: footer;
}

@media only screen and (min-width: 950px)  {
    body{
        grid-template-columns: 1rem 3fr 1fr 1rem ;
        grid-template-areas:
                
            "header     header                 header   header"
            "......     artist-cover           aside    ......."
            "......     artist-songs           aside    ......."
            "......     artist-songs           .....    ......."
            "footer     footer                 footer   footer";
    }
}


.playlist-ul{/*rename this to aside ul in all css*/
    height: clamp(0,fit-content,50vh);
}
@media only screen and (max-width: 950px) {
    .playlist-ul{
        max-height: 30vh;
    }
}

.span-100-ul{
    width: 100%;
}
.container-content .span-100-ul .right-half{
    align-self: center;
}
.right-half i{
    margin-left: 1rem;
}
.artist-cover{
    --border-radius-local:var(--border-radius-000);
    --margin-local:0;
    --padding-local:0;
    max-height: 30vh;
    overflow: hidden;
}
.artist-cover .flex-col{
    margin: 1rem 2rem;
    --flex-justify-content-local:space-around;
}
.artist-cover .flex-row{
    --flex-justify-content-local:space-between;
}
.artist-cover .buttons{
    --flex-justify-content-local:flex-start;
    --flex-wrap-local:wrap;
}
.artist-cover .buttons .link{
    flex: 1 1 auto;
    padding: 0 1 rem;
    margin-right: 1rem;
}
.artist-imgcontainer{
    flex: 1 2 400px;
}
.artist-textcontent-container{
    flex: 2 1 400px;
}
.artist-cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
@media only screen and (max-width:600px) {
    .artist-cover{
        flex-wrap: wrap;
        max-height: min-content;
    }
}