/* CONTENTS:
    1. Imports
    2. Global Settings
    3. Layout
    4. Components
*/

/*===================================================
    1.IMPORTING : Google Fonts
=====================================================*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:wght@400;700&display=swap');

/*===================================================
    2.GLOBAL-SETTINGS : CSS-Variables and Global Settings
=====================================================*/

:root {
    /* DEFINING CSS-VARIABLES: */
    /* COLORS */
    /* Background Color Related */
    --color-dark-400: hsla(46, 81%, 2%, 1); 
    --color-dark-400-transparent-10: hsla(46, 81%, 2%, .95);
    --color-dark-400-transparent-9: hsla(46, 81%, 2%, .80);
    --color-dark-300: hsla(46, 81%, 6%, 1); 
    --color-dark-200: hsla(46, 81%, 10%, 1); 
    /* Background Color Related */
    --color-grey-400: hsla(39, 1%, 45%, 1); 
    --color-grey-300: hsla(39, 1%, 60%, 1); 
    --color-grey-200: hsla(39, 1%, 75%, 1); 
    --color-white-300: hsla(47, 77%, 96%, 1); /* Text color */
    --color-accent-1-300: hsla(46, 81%, 61%, 1);
    
    --color-accent-2-500: hsla(16, 81%, 40%, 1);
    --color-accent-2-400: hsla(16, 81%, 50%, 1);
    --color-accent-2-300: hsla(16, 81%, 60%, 1);
    --color-accent-2-200: hsla(16, 81%, 70%, 1);


    /* FONTS */
    /* FONT STYLES */
    --font-family-logo: 'Lobster', cursive;
    --font-family-text: 'Lobster Two', cursive;
    /* FONT SIZES */
    --font-size-600: 1.35rem;
    --font-size-500: 1.25rem;
    --font-size-400: 1.15rem;
    --font-size-300: 1rem;
    --font-size-200: .85rem;
    --font-size-100: .70rem;
    /* FONT WEIGHTS */
    --font-weight-normal:normal;
    --font-weight-bold:bold;
    --font-weight-bolder:bolder;
    --font-weight-lighter:lighter;

    /* BORDER-RADII */
    --border-radius-400:.5rem;
    --border-radius-300:.25rem;
    --border-radius-200:.125rem;
    --border-radius-000:0;

    /* GLOBAL Settings*/
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body{
    /* Default Font properties */
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: var(--font-family-text);
    font-size: var(--font-size-300);
    color: var(--color-white-300);
    background-color: var(--color-dark-300);
}

/* Default List style*/
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Stops animation while window is resized */ 
.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

/*===================================================
    3.LAYOUT: Mobile first layout
=====================================================*/
body{
    min-height: 100vh;
    display: grid;
    gap: 1rem;
    grid-auto-columns: 1fr;
    grid-template-columns: 1rem 1fr 1rem ;
    grid-template-areas:
        "header     header          header"
        "......     carousel        ......."
        "......     aside           ......."
        "......     favorites       ......."
        "......     latest-releases ......."
        "......     artists         ......."
        "......     genres          ......."
        "......     radios          ......."
        "footer     footer          footer";
}
header{
    grid-area: header;
}

.carousel-container{
    grid-area: carousel;
}
.favorites-container{
    grid-area: favorites;
}
.latest-releases-container{
    grid-area: latest-releases;
}
.artists-container{
    grid-area: artists;
}
.genres-container{
    grid-area: genres;
}
.radios-container{
    grid-area: radios;
}

aside{
    grid-area: aside;
}

footer{
    grid-area: footer;
}

@media only screen and (min-width: 800px)  {
    body{
        grid-template-columns: 1rem 3fr 1fr 1rem ;
        grid-template-areas:
            "header     header             header   header"
            "......     carousel           aside    ......."
            "......     favorites          aside    ......."
            "......     latest-releases    aside    ......."
            "......     artists            ......   ......."
            "......     genres             ......   ......."
            "......     radios             ......   ......."
            "footer     footer             footer   footer";
    }
}

/*===================================================
    4.COMPONENTS:
        4.1 Header Components
        4.2 Footer Components
        4.3 Main Body:
            4.3.1 Common 
            4.3.2 Utilities
                4.3.2.1 Items
            4.3.3 Carousel Section.
            4.3.4 Favourites Section.            

=====================================================*/

/* 
    4.1 Header Components: 
*/

header > div{
    background-color: var(--color-dark-400);
    display: flex;
    height: 3rem;
    padding: 1rem;
    gap:1rem;
    align-items:center;
    justify-content: space-between;
}

.logo{
    font-family: var(--font-family-logo);
    font-size: var(--font-size-600);
    background-color: var(--color-accent-2-400);
    padding: 0.25rem;
    border-radius: var(--border-radius-300);
}
.search-bar{
    gap:.125rem;
    display: block;
}
.nav-list{
    display: flex;
    flex: 1 1 auto;
    gap:.5rem;
}
.nav-toggle-mobile{
    display: none;
}
.link{
    text-decoration: none;
    color: var(--color-white-300);
    padding: .5rem;
}
.link:hover{
    background-color: var(--color-accent-2-500);
    border-radius: var(--border-radius-200);
}
.screen-reader-only {
  position: absolute; 
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px; 
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* Mobile view Nav bar with Hamburger Menu */
@media only screen and (max-width:500px) {
    .nav-list{
        position: fixed;
        z-index: 100;
        inset: 0 0 0 40%;
        background-color: var(--color-dark-400-transparent-10);
        flex-direction: column;
        padding: min(20vh, 5rem) 2em;
        transform: translate(100%);
        transition: transform 300ms ease-in-out;
    }
    /* To hide any overflow related to sliding in animation and transform of mobile nav menu. */
    body{
    overflow-x: hidden;
    }

    /* nav.js uses this css behavior to make nav menu appear or dissappear for mobile screens. */
    .nav-list[data-visibility="true"]{
        transform: translate(0%);
    }

    .nav-toggle-mobile{
        display: block;
        position: absolute;
        z-index: 900;
        background-color: transparent;
        background-image: url("../assets/icons/icon-hamburger.svg");
        background-repeat: no-repeat;
        border:0;
        width: 2rem;
        aspect-ratio: 1;
        top:1rem;
        right:1rem;
    }
    
    .nav-toggle-mobile[aria-expanded="true"]{
        background-image: url("../assets/icons/icon-close.svg");
    }
}

@media only screen and (max-width:350px) {
    /* On very narrow screens, search bar disappears */
    .search-bar{
        display: none;
    }
}
/*
    4.2 Footer Components:
*/
footer{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: var(--color-dark-400);
}

.share-icons-container{
    text-align: center;
    margin: var(--font-size-600);
}

.share-icon{
    cursor: pointer;
    padding: .5rem;
}
.share-icon:hover{
    color: var(--color-accent-2-500);
}

.quick-links-container-heading{
    text-align: center;
    font-size: var(--font-size-400);
}

.quick-links-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.quick-link-list-heading{
    font-size: var(--font-size-300);
    font-weight: var(--font-weight-bold);
    color: var(--color-grey-400);
}
.quick-links-list{
    display: flex;
    flex-direction: column;
    align-self: left;
    padding: .5rem;
    font-size: var(--font-size-200);
    color: var(--color-grey-300);
}
.quick-links-list-item:hover{
    cursor: pointer;
    color: var(--color-grey-200);
}

/* 
    4.3 Main Body:
        4.3.1 Common:
*/
.container-heading{
    font-size: var(--font-size-400);
}
.container-content{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    --bgColor-local:var(--color-accent-2-300);
}
.list-in-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    
}
/* Song Name, Artist name in respective sections use this*/
.text-title{
    font-size: var(--font-size-200);
    font-weight: var(--font-weight-bold);
}
.text-subtitle, .num-text{
    font-size: var(--font-size-100);
}

/* 
    4.3 Main Body:
        4.3.2 Utilities:
            4.3.2.1 Items:
*/
.item-with-bg{
    background-color: var(--bgColor-local,var(--color-dark-400));
    border-radius: var(--border-radius-local,var(--border-radius-300));
    margin:var(--margin-local,.25rem);
    padding:var(--padding-local,0.25rem);
    overflow: hidden;
}
.scrollable-container{
    overflow-y: scroll;
    max-height: var(--max-height-local,350px);
}

/* 
    4.3 Main Body:
        4.3.3 Carousel Section.
*/
.carousel-container{
    height: 300px;
    min-width: 100%;
    background-color: red;
}

/* 
    4.3 Main Body:
        4.3.4 Favourites Section.
*/
.favorites-sub-container{
    --bgColor-local:var(--color-accent-2-400);
}
.favorites-item{
    display: flex;
    --bgColor-local:var(--color-dark-400);
}
.favorite-item-img{
    height:50px;
    width:50px;
    object-fit: cover;
}
.favorite-item-text{
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: var(--font-size-100);
    font-style: italic;
}

/*
    4.3 Main Body:
        4.3.5 Latest-Releases Section.

*/
.latest-release-item{
    display: flex;
    justify-content: space-between;
    --bgColor-local:var(--color-dark-400);
    --border-radius-local:var(--border-radius-000);
}
.latest-release-imgcontainer{
    max-width: 75px;
    overflow: hidden;
}
.latest-release-textcontainer{
    display: flex;
    width: 150px;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
}
.top-line{
    align-self: flex-end;
}
.mid-line{
    display: flex;
    justify-content: space-between;
}
.bottom-line{
    align-self: flex-start;
}
/*
    4.3 Main Body:
        4.3.5 Popular-Artists Section.
*/
.popular-artists-item{
    height: 130px;
    width: 100px;
    --bgColor-local:var(--color-dark-400);
    --border-radius-local:var(--border-radius-400);
}
.popular-artists-item .text-title{
    text-align: center;
}
.popular-artist-imgcontainer{
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}
/*
    4.3 Main Body:
        4.3.5 Popular-Artists Section.
*/
.genre-item{
    width:200px;
    height:150px;
    padding: 0;
    position: relative;
    overflow: hidden;
}
.genre-imgcontainer{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.genre-item .text-title{
    position: absolute;
    text-align: center;
    padding: .5rem 0;
    top: 50%;
    left: 50%;
    width:100%;
    transform: translate(-50%, -50%);
    background-color: var(--color-dark-400-transparent-9);
}