/* CONTENTS:
    1. Imports
    2. Global Settings
    3. Utilities
    4. Body Components
*/

/*===================================================
    1.IMPORTING : Google Fonts
=====================================================*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:wght@400;700&display=swap');

/*===================================================
    2.GLOBAL-SETTINGS : CSS-Variables and Global Settings
=====================================================*/

:root {
    /* DEFINING CSS-VARIABLES: */
    /* COLORS */
    /* Background Color Related */
    --color-dark-400: hsla(46, 81%, 2%, 1); 
    --color-dark-400-transparent-10: hsla(46, 81%, 2%, .90);
    --color-dark-400-transparent-9: hsla(46, 81%, 2%, .70);
    --color-dark-400-transparent-8: hsla(46, 81%, 2%, .50);
    --color-dark-400-transparent-7: hsla(46, 81%, 2%, .10);
    --color-dark-300: hsla(46, 81%, 6%, 1); 
    --color-dark-200: hsla(46, 81%, 10%, 1); 
    /* Background Color Related */
    --color-grey-500-transparent-10: hsla(39, 1%, 30%, .6);
    --color-grey-500-transparent-9: hsla(39, 1%, 30%, .4);
    --color-grey-500: hsla(39, 1%, 35%, .4);
    --color-grey-400: hsla(39, 1%, 45%, 1); 
    --color-grey-300: hsla(39, 1%, 60%, 1); 
    --color-grey-200: hsla(39, 1%, 75%, 1); 
    --color-white-300: hsla(47, 77%, 96%, 1); /* Text color */
    --color-accent-1-300: hsla(46, 81%, 61%, 1);
    
    --color-accent-2-500: hsla(16, 81%, 40%, 1);
    --color-accent-2-400: hsla(16, 81%, 50%, 1);
    --color-accent-2-300: hsla(16, 81%, 60%, 1);
    --color-accent-2-200: hsla(16, 81%, 70%, 1);

    /* GRADIENT Colors */
    --gradient-palettes-1-1-hsla: hsla(264, 18%, 38%, 1);
    --gradient-palettes-1-2-hsla: hsla(180, 72%, 31%, 1);
    --gradient-palettes-1-3-hsla: hsla(35, 80%, 65%, 1);
    --gradient-palettes-1-4-hsla: hsla(16, 62%, 62%, 1);
    --gradient-palettes-1-5-hsla: hsla(2, 48%, 62%, 1);
    --gradient: linear-gradient(
        90deg,
        var(--gradient-palettes-1-1-hsla),
        var(--gradient-palettes-1-2-hsla),
        var(--gradient-palettes-1-3-hsla),
        var(--gradient-palettes-1-4-hsla),
        var(--gradient-palettes-1-5-hsla)
    );

    /* FONTS */
    /* FONT STYLES */
    --font-family-logo: 'Lobster', cursive;
    --font-family-text: 'Lobster Two', cursive;
    /* FONT SIZES */
    --font-size-600: 1.35rem;
    --font-size-500: 1.25rem;
    --font-size-400: 1.15rem;
    --font-size-300: 1rem;
    --font-size-200: .85rem;
    --font-size-100: .70rem;
    /* FONT WEIGHTS */
    --font-weight-normal:normal;
    --font-weight-bold:bold;
    --font-weight-bolder:bolder;
    --font-weight-lighter:lighter;

    /* BORDER-RADII */
    --border-radius-400:.5rem;
    --border-radius-300:.25rem;
    --border-radius-200:.125rem;
    --border-radius-000:0;

    /* */
    --play-modal-height: 4rem;
    
    /* Global Resets*/
    margin: 0;
    padding: 0;
}

/* Global Resets */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body{
    /* Default Font properties */
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: var(--font-family-text);
    font-size: var(--font-size-300);
    color: var(--color-white-300);
}

/* Default List style*/
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Stops animation while window is resized */ 
.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

a:-webkit-any-link{
    text-decoration: none;
    color: inherit;
}

/*===================================================
    3.UTILITIES: Common classes which can be used.
=====================================================*/
/*Background utils*/
.translucent-bg-100{
    --bgColor-local: var(--color-dark-400-transparent-8);
}
.translucent-bg-50{
    --bgColor-local: var(--color-dark-400-transparent-7);
}

/* Settings for hoverable text icons (options on song, heart, etc.) */
.hoverable-icon{
    cursor: var(--pointer-type-local, pointer);
    color:var(--color-unhover-local,var(--color-white-300));
    background-color: var(--bgColor-unhover-local,transparent);
}
.hoverable-icon:hover{
    color:var(--color-hover-local,var(--color-accent-2-500));
    background-color: var(--bgColor-hover-local,transparent);
}

/*  Red Play Icon, visible when hovering on song images */
.play-icon-overlay {
	 position: relative;
     display: inline;
	 cursor: pointer;
}
 .play-icon-overlay:before {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 -webkit-transform: translate(-50%, -50%);
	 content: "\f01d";
     font-family: FontAwesome;
     font-size: 200%;
	 color: grey;
	 opacity: 0.3;
	 text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}
 .play-icon-overlay:hover:before {
	 color: red;
     opacity: 0.8;
}

/* Animation Effects Utilities */
.fx-fade-in{
    opacity:var(--local--pre-fade-in--opacity,1);
    background-color: var(--local--pre-fade-in--bgcolor,var(--color-dark-400));
    transition: var(--local--fadein--duration,0.3s) ease-in-out;
}
.fx-fade-in:hover, .fx-fade-in:focus{
    opacity:var(--local--post-fade-in--opacity,1);
    background-color: var(--local--post-fade-in--bgcolor,var(--color-dark-400));
}
.fx-magnify{
    transform: scale(var(--local-pre-magnify--scale-x,1),var(--local-pre-magnify--scale-y,1));
    transition: var(--local--fadein--duration,0.3s) ease-in-out;
}
.fx-magnify:hover{
    transform: scale(var(--local-post-magnify--scale-x,1.01),var(--local-post-magnify--scale-y,1.01));
}

/* Image Div Utilities */
.util-img-container{
    height:var(--local--img-container--height,100%);
    width:var(--local--img-container--width,100%);
}
/* Image Utilities */
.util-img{
    object-fit: cover;
    object-position: center;
    height:var(--local--img--height, 100% );
    width:var(--local--img--width, 100% );
    overflow: hidden;
    border-radius: var(--local--img--border-radius,0);
}

/*Utils for containers with lists in them*/
.container-heading{
    font-size: var(--font-size-400);
}
.container-content{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.list-in-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
/*General classes for song lists in containers*/
.playlist-item{
    display: flex;
    justify-content: space-between;
    --bgColor-local:var(--color-grey-500-transparent-9);
    --local--img-container--height:50px;
    --local--img-container--width:50px;
}
.playlist-item .left-half{
    display: flex;
    justify-content: flex-start;
}
.playlist-item .right-half{
    align-self: flex-start;
}
.playlist-item .left-half > div{
    margin:0.5rem;
}

/* Common Text classes, for Song Name, Artist name, in respective sections*/
.text-title{
    font-size: var(--font-size-200);
    font-weight: var(--font-weight-bold);
}
.text-subtitle, .num-text{
    font-size: var(--font-size-100);
}
/*General container with background*/
.item-with-bg{
    background-color: var(--bgColor-local,var(--color-dark-400));
    border-radius: var(--border-radius-local,var(--border-radius-300));
    margin:var(--margin-local,.25rem);
    padding:var(--padding-local,0.25rem);
    overflow: hidden;
}
.flex-row{
    display: flex;
    justify-content: var(--flex-justify-content-local,space-between);
    flex-wrap: var(--flex-wrap-local,nowrap);
}
.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: var(--flex-justify-content-local,space-between);
    flex-wrap: var(--flex-wrap-local,nowrap);
}
.is-hidden{
    display: none;
}
.cursor-pointer{
    cursor: pointer;
}
.fixed-width-range{
    width: clamp(150px, 250px , 300px);
}
/*===================================================
    4. BODY COMPONENTS:
        4.1 Header Components
        4.2 Footer Components
        4.3 Play Modal Area:
        4.4 Animated Backgrounds:

=====================================================*/

/* 
    4.1 Header Components: 
*/

header > div{
    background-color: var(--color-dark-400);
    display: flex;
    height: 3rem;
    padding: 1rem;
    gap:1rem;
    align-items:center;
    justify-content: space-between;
}

.logo{
    font-family: var(--font-family-logo);
    font-size: var(--font-size-600);
    background-color: var(--color-accent-2-400);
    padding: 0.25rem;
    border-radius: var(--border-radius-300);
}
.search-bar{
    gap:.125rem;
    display: block;
}
.nav-list{
    display: flex;
    flex: 1 1 auto;
    gap:.5rem;
}
.nav-toggle-mobile{
    display: none;
}
.link{
    text-decoration: none;
    color: var(--color-white-300);
    padding: .5rem;
}
.link:hover{
    background-color: var(--color-accent-2-500);
    border-radius: var(--border-radius-200);
}
.screen-reader-only {
  position: absolute; 
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px; 
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* Mobile view Nav bar with Hamburger Menu */
@media only screen and (max-width:500px) {
    .nav-list{
        position: fixed;
        z-index: 100;
        inset: 0 0 0 40%;
        background-color: var(--color-dark-400-transparent-10);
        flex-direction: column;
        padding: min(20vh, 5rem) 2em;
        transform: translate(100%);
        transition: transform 300ms ease-in-out;
    }
    /* To hide any overflow related to sliding in animation and transform of mobile nav menu. */
    body{
    overflow-x: hidden;
    }

    /* nav.js uses this css behavior to make nav menu appear or dissappear for mobile screens. */
    .nav-list[data-visibility="true"]{
        transform: translate(0%);
    }

    .nav-toggle-mobile{
        display: block;
        position: absolute;
        z-index: 900;
        background-color: transparent;
        background-image: url("../assets/icons/icon-hamburger.svg");
        background-repeat: no-repeat;
        border:0;
        width: 2rem;
        aspect-ratio: 1;
        top:1rem;
        right:1rem;
    }
    
    .nav-toggle-mobile[aria-expanded="true"]{
        background-image: url("../assets/icons/icon-close.svg");
    }
}

@media only screen and (max-width:350px) {
    /* On very narrow screens, search bar disappears */
    .search-bar{
        display: none;
    }
}
/*
    4.2 Footer Components:
*/
footer{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: var(--color-dark-400);
    padding-bottom: var(--play-modal-height);
}

.share-icons-container{
    text-align: center;
    margin: var(--font-size-600);
}

.share-icon{
    padding: .5rem;
    --color-hover-local:var(--color-accent-2-500);
}

.quick-links-container-heading{
    text-align: center;
    font-size: var(--font-size-400);
}

.quick-links-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.quick-link-list-heading{
    font-size: var(--font-size-300);
    font-weight: var(--font-weight-bold);
    color: var(--color-grey-400);
}
.quick-links-list{
    display: flex;
    flex-direction: column;
    align-self: left;
    padding: .5rem;
    font-size: var(--font-size-200);
    --color-unhover-local: var(--color-grey-300);
    --color-hover-local:var(--color-grey-200);
    
}

/*
    4.3 Play Modal Area:
    Playbar modal area is present at bottom of the screen with audio controls and track info.
*/

/*  LOADING Icon : Shows up When music is being loaded on network */
#playbar-loading-container{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: red;
}
#play-modal-container{
    position: fixed;
    z-index: 1;
    bottom: 0;
    width: 100%;
    background-color: var(--color-dark-400-transparent-10);

    height: var(--play-modal-height);
    text-align: left;
}
#seek-bar{
    grid-area: seek-bar;
    background-color: darkgreen;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
#seek-bar:hover{
    background-color: rgb(0, 170, 0);
}
#song-info-img{
    height: 100%;
    width: var(--play-modal-height);
    object-fit: cover;
    object-position: center;
    grid-area: img;
    display: none;
}
#song-info-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#song-title{
    grid-area: song-title;
}
#song-subtitle{
    grid-area: song-subtitle;
}
#play-controls-section{
    grid-area: play-controls;
    display: flex;
    justify-content: space-around;
    text-align: right;
}
#progress-text{
    grid-area: progress;
    display: none;
}

#play-controls-section i{
    cursor: pointer;
    padding: .25rem .5rem;
    border-radius: 25%;
    --bgColor-unhover-local: var(--color-grey-500);
    --color-hover-local:var(--color-accent-2-300);
    --bgColor-hover-local:var(--color-dark-200);
}

#play-controls-section .fa-backward,
#play-controls-section .fa-forward,
#play-controls-section .fa-volume-mute, 
#play-controls-section .fa-stop-circle{
    display: none;
}

#play-modal-container{
    display: grid;
    row-gap: .25rem;
    align-items: center;
    padding-bottom: 0;
    column-gap: .5rem;
    grid-auto-columns: 1fr;
    grid-template-columns: 
        0.125rem        3fr                  1fr             0.125rem;
    grid-template-areas:
        "seek-bar       seek-bar            seek-bar        seek-bar"
        "......         song-title          play-controls   ......."
        "......         song-subtitle       play-controls   .......";
}
/* Number of play control buttons visible, and track info layout depends responsively on screen sizes.*/
@media only screen and (min-width:400px) {

    #play-controls-section .fa-stop-circle{
        display: block;
    }

    #song-info-img{
        display: block;
    }

    #progress-text{
        display: flex;
        width: min-content;
        justify-content: center;
        background-color: var(--color-grey-500);
        border-radius: .25rem;
        padding: .25rem;
    }

    #play-modal-container{
        padding-bottom: 0;
        column-gap: .125rem;
        grid-template-columns: 
            0.25rem  var(--play-modal-height) 2fr                 1fr         1fr            0.25rem;
        grid-template-areas:
            "seek-bar           seek-bar    seek-bar            seek-bar    seek-bar        seek-bar"
            "......             img         song-title          progress    play-controls   ......"
            "......             img         song-subtitle       progress    play-controls   ......";
    }
}

@media only screen and (min-width:700px) {

    #play-modal-container{
        padding-bottom: 0;
        column-gap: 1rem;
        row-gap: .25rem;
        grid-template-columns: 
            1fr   var(--play-modal-height)   2fr                 1fr        2fr             1fr;
        grid-template-rows: .5rem   1fr    1fr;
        grid-template-areas:
            "seek-bar       seek-bar        seek-bar            seek-bar    seek-bar        seek-bar"
            "......         img             song-title          progress    play-controls   ......."
            "......         img             song-subtitle       progress    play-controls   .......";
    }    
}

/*
    4.4 Animated Backgrounds:
    Animates a huge gradiented background right and left continuously.
*/
body{
    background-image: var(--gradient);
    background-size: 400%;
    animation: background-animation 17s infinite alternate;
}
@keyframes background-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}
